@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    display: flex; 
    flex-flow: column; 
    justify-content: center;
    align-items: center;
    font-family: 'raleway', sans-serif; 
    text-align: center;
    background: url(images/bg-mobile.png) no-repeat; // 
    height: 100svh; 
}

main { 
    width: 100%; 
    height: 75%; 
}

.fylo-card { 
    background-color: hsl(228, 56%, 26%);
    padding: 30px; 
    margin: 40px 20px; 
    border-radius: 12px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 50%; // new skill 

    .fylo-logo { 
        margin-top: 20px; 
    }

    .icons-list { 
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0; 
        margin-top: 30px; 

        li {
            margin: 0 5px; 
            padding: 10px; 
            background-color: hsl(229, 57%, 11%); 
            border-radius: 12px; 
        }
    }
}

// .fylo-card { 
//     background-color: blue;
// }

