@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    display: flex; 
    flex-flow: column; 
    justify-content: center;
    align-items: center;
    font-family: 'raleway', sans-serif; 
    text-align: center;
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100svh; 
}

main { 
    width: 100%; 
    height: 75%; 
}

.fylo-card, .storage-card { 
    background-color: hsl(228, 56%, 26%);
    padding: 30px; 
    margin: 40px 20px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.fylo-card { 
    align-items: flex-start;
    border-top-right-radius: 50%; // new skill 
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .fylo-logo { 
        margin-top: 20px; 
    }

    .icons-list { 
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0; 
        margin-top: 30px; 

        li {
            margin: 0 5px; 
            padding: 10px; 
            background-color: hsl(229, 57%, 11%); 
            border-radius: 12px; 
        }
    }
}

.storage-card { 
    margin-top: -20px; // offset for the gap that was too big before 
    border-radius: 12px; 
    padding-bottom: 60px; 

    p { 
        color: hsl(243, 100%, 93%);
    }
}

.usage-text { 
    margin: 0; 
    font-size: 0.9em; 
}

.full-usage-bar, .partial-usage-bar { 
    width: 100%;
    margin: 20px 0; 
    margin-bottom: 10px; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px; 
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; 
}

.full-usage-bar { 
    background-color: hsl(229, 57%, 11%);
    height: 25px;

}

.partial-usage-bar { 
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    margin: 0; 
    width: 70%; 
    height: 20px; 
    position: relative; // for the white circle 
}

.white-circle { 
    background-color: #ffffff;
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    position: absolute; // relatice to the gradient load bar 
    right: 0; 
}

.scale-div { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em; 
}

.storage-left-text { 
    color: hsl(229, 57%, 11%); 
    background-color: #ffffff;
    border-radius: 12px;
    margin-top: -90px; 
    max-width: 200px; 
    padding: 20px; 
    font-size: 3em; 
    justify-self: center;

    span { // not centred 
        color: hsl(229, 7%, 55%);
        font-size: 0.35em; 
        text-transform: uppercase;
    }
}

footer { 
    color: hsl(243, 100%, 93%); 
    line-height: 160%;
    font-size: 0.7em;
    font-weight: 600;  
}

@media screen and (min-width: 768px) { 

    body { 
        flex-direction: row;
        background-color: hsl(229, 57%, 11%);
        background-image: none;
        // width: 80svw; 
    }

    body::before { // can't round corners of a bg-img on <body>. Have to create a pseudo-element. 
        content: ''; 
        // inset: 0; 
        bottom: 0; 
        left: 0; 
        background-image: url(../images/bg-desktop.png);
        background-position: bottom; // 
        background-size: auto;
        background-clip: border-box;
        border-top-left-radius: 50%;
        overflow: hidden;
        position: fixed;
        z-index: -1; 
        background-repeat: no-repeat;
        width: 100%; 
        height: 420px; 
    }
    
    main { 
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%; 
        height: 100%; 
    }

    .wrapper { // necessary to align the bottoms of <section> 
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 100%; // this has to be defined for flex-grow/shrink to work 
    }

    .fylo-card { 
        flex-grow: 1; 
        height: 100%; 
    }

    .storage-card { 
        margin: 40px 20px; 
        padding: 30px; 
        flex-grow: 2; 
        height: 60%; 
    }
    
    .full-usage-bar { 
        position: relative; // for text bubble // is this computing? They're in totally different places in the HTML 
    }

    .storage-left-text { 
        position: absolute; //
        bottom: 180px; 
        right: 150px; 
    }

    .usage-text { 
        text-align: left;
    }

    footer { 
        position: absolute; 
        bottom: 100px; 
    }

}

@media screen and (min-width: 1024px) { 

    .storage-card { 
        padding: 40px;
    }

    .storage-left-text { 
        bottom: 420px; 
        right: 170px; 
    }


    .storage-left-text::after { // triangle 
        content: "";
        width: 0; 
        height: 0; 
        border-left: 40px solid transparent;
        border-right: 0 solid transparent;
        border-top: 50px solid #ffffff;
        position: absolute;
        top: 80px; 
        right: 0; 
    }
}

@media screen and (min-width: 1440px) { 

    .storage-left-text { 
        bottom: 420px; 
        right: 220px; 
    }
}

